name: Release to Maven Central
run-name: Release ${{ github.event.inputs.releaseVersion }} from ${{ github.ref_name }}
on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Release version (e.g., 1.0.0)'
        required: true

jobs:
  maven-central-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Configure Git user
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "github-actions[bot]"
      - name: Build with Maven
        run: ./mvnw -B clean install
      - name: Release to Maven Central
        run: |
          ./mvnw -B release:clean release:prepare release:perform \
            -DreleaseVersion=${{ github.event.inputs.releaseVersion }} \
            -Pdeploy
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  github-release:
    needs: [ maven-central-release ]
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.event.inputs.releaseVersion }}
          generate_release_notes: true
